@font-face {
    font-family: TitleFont;
    src: url(./fonts/Velarah-Regular.ttf);
}
@font-face {
    font-family: PText;
    src: url(./fonts/Whitestone.otf);
}
@font-face {
    font-family: ButtonT;
    src: url(./fonts/Optimus.otf);
}


html{
    background-color: #00314b;
}
header{
    display: flex;
    flex: 1;
    background: rgb(0,162,255);
    background: linear-gradient(180deg, rgba(0,162,255,1) 0%, rgba(0,162,255,1) 40%, rgba(0,80,126,1) 100%);
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0%;
}
.division{
    background: rgb(0,49,75);
    background: linear-gradient(180deg, rgba(0,49,75,0) 0%, rgba(0,104,159,1) 50%, rgba(0,49,75,0) 100%);
}

#portada{
    display: flex;
    flex-direction: column;
    margin: 0%;
    
}
.category{
    font-family: ButtonT;
    display: flex;
    box-shadow: 0px 10px 14px -7px #000000;
	background:linear-gradient(to bottom, #7d1a5e 5%, #162363 100%);
	background-color:#7d1a5e;
	border-radius:5px;
    border-color: transparent;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.category:hover {
	background:linear-gradient(to bottom, #162363 5%, #7d1a5e 100%);
	background-color:#162363;
}
.category:active {
	position:relative;
	top:1px;
}

#dbutton {
    font-family: ButtonT;
	box-shadow: 0px 10px 14px -7px #000000;
	background:linear-gradient(to bottom, #00eaff 5%, #f9027d 100%);
	background-color:#00eaff;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#dbutton:hover {
	background:linear-gradient(to bottom, #f9027d 5%, #00eaff 100%);
	background-color:#f9027d;
}
#dbutton:active {
	position:relative;
	top:1px;
}
#galery{
    display: flex;
    justify-content: center;
    
}

.slider {
    background-color: #f9027d;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px rgba(63, 0, 0, 0.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 25em;
    left: 50%;
    
    padding: .5em;
   
    top: 50%;
    width: 25em;
}

/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

/* Navigation */

.slider label {
    background-color: rgb(61, 61, 61);
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #f9027d;
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}

/* Images */

.slider img {
    height: 25em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*ul{
    list-style-type: none;
}
.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0%;
    width: 80%;
}
.image-gallery > li{
    flex-basis: 350px;
}
.image-gallery li img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}
*/
#descripcion{
    border-top:30px ridge #00a2ff;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;

}
#justified{

    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
#download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;

}
#requirements{
    display: flex;
    flex-direction: row;
    text-align:left;
    justify-content: space-between;
    padding: 5px;
}
#requirements article{
    padding-left: 30px;
    padding-right: 30px;
}
.reqTitle{
    margin-bottom: 0%;
}
.reqDescr{
    margin-top: 0%;
}
.titleh1{
    display: flex;
    justify-content: center;
    border-top:30px ridge #00a2ff;
    padding: 0%;
}
h1{
    font-size: xx-large;
    font-family: TitleFont;
    color: #ffffff;
    margin-bottom: 0%;
}

h2{
    font-family: TitleFont;
    color: rgb(255, 98, 130);
}
p{
    
    font-family: Ptext;
    font-size: x-large;
    color: white;

}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(14,21,60);
    background: linear-gradient(0deg, rgba(14,21,60,1) 0%, rgba(22,35,99,1) 34%, rgba(0,212,255,0) 100%);
}
footer img{
    width: 5%;
    height: 5%;


}


@media screen and (max-width:800px){
    #descripcion{
        border-top:30px ridge #00a2ff;;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    button{
        display: flex;
        box-shadow: 0px 10px 14px -7px #000000;
        background:linear-gradient(to bottom, #7d1a5e 5%, #162363 100%);
        background-color:#7d1a5e;
        border-radius:5px;
        cursor:pointer;
        color:#ffffff;
        font-size:20px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        justify-content: center;
        text-shadow:0px 1px 0px #000000;
    }
    button:hover {
        background:linear-gradient(to bottom, #162363 5%, #7d1a5e 100%);
        background-color:#162363;
    }
    button:active {
        position:relative;
        top:1px;
    }
    .slider{
        width: 15em;
        height: 15em;
    }
    .slider img{
        width: 15em;
        height: 15em;
    }
}